body {
	background: radial-gradient(circle, #ffffff 10%, #b0e0e6 20%, #000000 30%);
    background-size: 20px 20px; /* Size of the circles */
    background-color: #000000; /* Fallback color */
    font-family: 'Courier New', monospace;
    color: black;
    text-align: center;
    background-size: 50px 50px;
    background-position: center;
}
table {
  border-collapse: collapse;
  width: 95%;
  margin: auto;
  margin-bottom: 30px;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th{
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightblue;
}
tr:nth-child(odd) {
  background-color:#52AEC0;
}
h2 {
    color: lightblue;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: auto;
  padding: 20px;
  border: 2px solid lightblue;
  background-color: black;
  text-align: center;
  border-radius: 5px;
  
}
button {
  border-radius: 5px;
  background-color: black;
  color: white; 
  border-color:darkcyan;
  border-width: 2px;
  padding: 6px 12px;
  cursor: pointer;
  display: inline-block;

}
button:hover {
  background-color: rgb(4, 86, 113);
}
